@import url("https://fonts.googleapis.com/css2?family=Bellota&family=Benne&family=Roboto+Slab&display=swap");

.landingPage {
  text-align: center;
  background-image: url("../../../Images/black-wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
}

.instructionsContainer {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.border.jumbo {
  position: relative;
  background: linear-gradient(to right, rgb(250, 0, 0), purple);
  padding: 8px;
}

.title {
  font-size: 60pt;
  padding-top: 30px;
  font-family: "Benne", serif;
  font-weight: 1000;
  font-style: italic;
  color: rgb(211, 160, 141);
}

.instructionsTitle {
  text-align: center;
  font-size: 25pt;
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: "Roboto Slab", serif;
  color: rgb(0, 225, 255);
}

.instructionsPara {
  color: rgb(242, 147, 255);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.515);
  font-family: "Roboto Slab", serif;
}
.ruleList {
  list-style-type: none !important;
}

.playerName {
  padding-top: 25px;
  padding-bottom: 20px;
}

.nameField {
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.9);
}
