.landingPage {
    text-align: center;
<<<<<<< HEAD
    /* background-image: url("/react-capstone/src/Images/trivia_background.jpeg"); */
=======
    background-image: url("../../../Images/trivia_background.jpg");
>>>>>>> 32337fc9717ed85a747c23bf5d19891372c4fa43
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
}

.border {
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, rgb(0, 192, 250), purple);
    padding: 8px;
}

.title {
    font-size: 60pt;
    padding-top: 40px;
}

.instructionsTitle {
    font-size: 25pt;
    padding-top: 40px;
}

.instructionsPara {
    padding-top: 25px;
}

.playerName {
    padding-top: 25px;
    padding-bottom: 20px;
}
.nameField {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.9);
}