@import url("https://fonts.googleapis.com/css2?family=Bellota&family=Benne&family=Roboto+Slab&display=swap");

.summary-container {
  font-family: "Roboto Slab", serif;
  padding: 5%;
  background-color: black;
  color: white;
}
.result {
  padding: 5%;
  list-style-type: none;
}

.win {
  color: coral;
}

.lost {
  color: aqua;
}

.noAnswer {
  font-style: italic;
  color: rgb(196, 77, 77);
}
