.noMatchMsg {
    color: rgb(255, 211, 190);
    margin: 2%;
}

.noMatchJumbo.jumbotron {
    padding: 5%;
    background-color: rgba(85, 5, 21, 0.615);
    margin-top: 15%;
    text-align: center;
}
.noMatchImg {
    width: 500px;
}