.jumbo {
  background-color: rgba(66, 211, 211, 0.61);
  color: coral;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .button {
  background-color: cornflowerblue;
} */
